h1{
    color:#fb3104;
    background-color:#a1dcdd;
    padding:0px 10px 10px 10px;
    border:4px solid #26733b;
    font-size:100px;
    text-shadow: 5px 2px black;
    display:inline-block;
    line-height: 100px;
    margin-top:5px;
}
h2{
    position: absolute;
    z-index:1;
    color:#fbad04;
    text-shadow: 3px 1px black;
    font-size:65px;
    -ms-transform: rotate(-14deg); 
    -webkit-transform: rotate(-14deg); 
    transform: rotate(-14deg);
    top: 69px;
    right:150px;
    font-weight: bold;
}
p{
    font-size:22px;
    color:white;
}
.title{
    text-align: center;
    position: relative;
}
.press-key{font-size:18px;}
#current-blank{
    font-size:22px;
    letter-spacing: 3px;
}
.main{
    border: 5px solid #26733b;
    margin-bottom:100px;
}
.row-even{
    height:275px;
    text-align: center;}
.picBox{
    background-color: #f68f09;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.dirBox{
    background-color:#1f3e60;
    padding-top:30px;
}
.wordBox{
    background-color:#752443;
    padding-top:20px;
}
.guessBox{
    background-color:#FB3B12;
    padding-top:30px;
}
.pic{
    max-width:250px;
    margin: 0 auto;
}
#word-win{
    margin-top:15px;
}
.whole{
    background-image: url("Color-Swirl-Background.jpg");
    margin-bottom:100px;
}