h1{
    text-align: center;
    color:red;
    background-color:#f8a63a;
    padding:20px;
    border:2px solid #26733b;
}
p{
    font-size:22px;
}
.press-key{font-size:18px;}
#current-blank{
    font-size:22px;
    letter-spacing: 3px;
}
.main{
    border: 5px solid #26733b;
    margin-bottom:100px;
}
.row-even{
    height:265px;
    text-align: center;}
.picBox{
    background-color:white;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.dirBox{
    background-color:lightblue;
    padding-top:20px;
}
.wordBox{
    background-color:pink;
    padding-top:20px;
}
.guessBox{
    background-color: #f8a63a;
    padding-top:20px;
}
.pic{
    max-width:150px;
    margin: 0 auto;
}
#word-win{
    margin-bottom:auto;
    /* display:block; */
}
.whole{
    background-image: url("Color-Swirl-Background.jpg");
    margin-bottom:100px;
}